#mainVisual {
  overflow: hidden;
  position: relative;
}
#mainVisual li {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#mainVisual .visual01 {
  background-image: url(../images/main/mainVisual01.jpg);
}
#mainVisual .visual02 {
  background-image: url(../images/main/mainVisual02.jpg);
}
#mainVisual .visual03 {
  background-image: url(../images/main/mainVisual03.jpg);
}
#mainVisual .slogan {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  color: #fff;
  text-align: center;
  z-index: 2;
}
#mainVisual .slogan h2 {
  font-size: 64px;
  margin-bottom: 20px;
}
#mainVisual .slogan p {
  font-size: 20px;
  line-height: 1.5;
}
#mainVisual button {
  position: absolute;
  background: none;
  top: 50%;
  z-index: 3;
  padding: 0;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  color: #fff;
}
#mainVisual .material-icons {
  font-size: 64px;
  vertical-align: top;
}
#mainVisual .prev {
  left: 50px;
}
#mainVisual .next {
  right: 50px;
}
#mainVisual .iconScroll {
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 50%;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainVisual .iconScroll .icon {
  display: block;
  width: 35px;
  height: 60px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 100px;
}
#mainVisual .iconScroll .icon::after {
  content: "";
  background-color: #fff;
  height: 13px;
  width: 2px;
  display: block;
  position: absolute;
  left: 49%;
  animation-name: mouse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#mainVisual .iconScroll .txt {
  font-size: 18px;
}
@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* mainVisual end */

#quickMenu .container {
  width: 1200px;
  margin: 0 auto;
}
#quickMenu .container ul {
  display: flex;
}
#quickMenu .container ul li::before {
  content: "";
  display: block;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  pointer-events: none;
  z-index: 1;
}
#quickMenu .container ul li:hover:before {
  opacity: 1;
}
#quickMenu .container ul li {
  position: relative;
  overflow: hidden;
}
#quickMenu .container ul li img {
  transition: transform 0.5s ease-in-out;
  vertical-align: top;
}
#quickMenu .container ul li:hover img {
  transform: scale(1.2);
}
#quickMenu .container ul .textBox {
  position: absolute;
  color: #fff;
  bottom: 40px;
  left: 40px;
}
#quickMenu .container ul .textBox p {
  font-size: 20px;
}
#quickMenu .container ul .textBox h3 {
  font-size: 42px;
  font-weight: 700;
  margin-top: 30px;
}
/* quickMenu end */
#business {
  background-image: url(../images/main/bgBusiness.jpg);
  margin-top: 100px;
}
#business .titleBox {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
#business .titleBox h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

#business .container {
  width: 1200px;
  margin: 0 auto;
}
#business .container ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#business .container ul li {
  position: relative;
  overflow: hidden;
}
#business .container ul li:before {
  content: "";
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
  z-index: 6;
}
#business .container ul li:hover:before {
  opacity: 1;
}
#business .container ul li:hover img {
  transform: scale(1.2);
}
#business .container ul li img {
  vertical-align: top;
  transition: transform 0.25s e;
}
#business .container ul .txtBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
}
#business .container ul .txtBox h3 {
  font-size: 24px;
  font-weight: 700;
}
#business .container ul .txtBox p {
  margin-top: 15px;
}

/* business end */
#news .titleBox {
  text-align: center;
}
#news .titleBox h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 100px 0 20px 0;
}
#news .titleBox p {
  margin-bottom: 30px;
}
#news .container {
  width: 1200px;
  margin: 0 auto;
}
#news .container .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
#news .container .list li {
  width: 31.33%;
  position: relative;
  border: 1px solid #999;
  transition: all 0.3s ease-in-out;
}
#news .list li img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
#news .list .desc {
  padding: 0 20px;
}
#news .list .desc h3 {
  margin: 30px 0;
  font-size: 24px;
}
#news .list .desc .text {
  line-height: 1.5;
  height: 4.5em;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
#news .list .desc .date {
  margin: 40px 0 20px;
  color: #999;
}
#news .list li::after {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 0 0px #9c0810;
  position: absolute;
  pointer-events: none;
  transition: box-shadow 0.15s ease-in-out;
}
#news .list li:hover::after {
  box-shadow: inset 0 0 0 4px #9c0810;
}
#news .list li:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* news end */
#customer {
  background-image: url(../images/main/bgCustomer.jpg);
  text-align: center;
  color: #fff;
  background-size: cover;
  padding: 100px 0 300px 0;
}
#customer .titleBox {
  text-align: center;
}

#customer .titleBox h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#customer .titleBox p {
  line-height: 1.5;
}
#customer .container .btn {
  border: 1px solid #9c0810;
  padding: 20px 40px;
  border-radius: 100px;
  margin-top: 50px;
  background-color: #9c0810;
}
