@import "mixin";
@import "vars";

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
#header {
  width: 100%;
  height: 130px;
  position: relative;

  .container {
    display: flex;
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
    #logo {
      display: flex;
      height: 130px;
      align-items: center;
      left: 20%;
    }
    .gnb {
      position: absolute;
      right: 0;
      h2 {
        display: none;
      }
      .nav {
        display: flex;
        .list {
          display: flex;
          li {
            position: relative;
            &:hover .depth02 {
              opacity: 1;
            }
          }
          .depth01 {
            font-size: 18px;
            padding: 0 30px;
            display: flex;
            align-items: center;
            height: 130px;
            font-weight: 700;
            text-align: center;
            justify-content: center;
            &::after {
              content: "";
              display: block;
              height: 5px;
              width: 5px;
              background-color: #ddd;
              position: absolute;
              top: 35%;
              left: 49%;
              display: none;
            }
            &:hover::after {
              display: block;
            }
          }
          .depth02 {
            font-size: 16px;
            border: 1px solid #000;
            box-sizing: border-box;
            background-color: #000;
            color: #999;
            padding: 30px 30px;
            font-weight: 500;
            line-height: 2.5;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
            z-index: 99;
            & > li:hover {
              color: #fff;
            }
          }
          .material-icons {
            font-size: 25px;
            font-weight: 700;
          }
        }
        .navIcon {
          display: flex;
          .language {
            &:hover .depth02 {
              opacity: 1;
            }
          }
          .depth01 {
            display: flex;
            align-items: center;
            height: 130px;
          }
          .search {
            margin-left: 20px;
          }
          .earth {
            padding: 0 30px;
            &::after {
              content: "";
              display: block;
              height: 5px;
              width: 5px;
              background-color: #ddd;
              position: absolute;
              top: 37%;
              right: 5%;
              display: none;
            }
            &:hover::after {
              display: block;
            }
          }
          .depth02 {
            text-align: center;
            font-size: 16px;
            border: 1px solid #000;
            box-sizing: border-box;
            background-color: #000;
            color: #999;
            padding: 30px 30px;
            font-weight: 500;
            line-height: 2.5;
            opacity: 0;
            white-space: nowrap;
            transition: opacity 0.1s ease-in-out;
            position: relative;
            z-index: 99;
            & > li:hover {
              color: #fff;
            }
          }
          .material-icons {
            font-weight: 700;
            font-size: 25px;
          }
        }
      }
    }
  }
}
// 헤더 완성!!!
#footer {
  background-color: #000;
  .containerAll {
    .inner {
      display: flex;
      justify-content: space-between;
      padding: 130px 0;
      .title {
        width: 600px;
        color: #fff;
      }
      .footerRight {
        .footerMenu {
          ul {
            margin-bottom: 60px;
            li {
              color: #fff;
              padding-bottom: 20px;
              font-weight: 700;
              font-size: 25px;
              position: relative;
              a {
                &::before {
                  content: "";
                  background-color: #fff;
                  width: 5px;
                  height: 5px;
                  border-radius: 10px;
                  position: absolute;
                  top: 8px;
                  left: -15px;
                  box-sizing: border-box;
                  display: none;
                }
                &:hover::before {
                  display: block;
                }
              }
            }
          }
        }
        .infoWrap {
          .richwood {
            color: #fff;
            font-size: 25px;
            font-weight: 700;
            position: relative;
            &::after {
              content: "\e5ce";
              font-family: "Material Icons";
              font-size: 24px;
              position: absolute;
              font-weight: 500;
              top: 3px;
              right: -32px;
              transition: transform 0.25s ease;
            }
            &:active::after {
              transform: rotate(180deg);
            }
          }
          .info {
            color: #695c51;
            display: flex;
            flex-direction: column;
            line-height: 2;
            margin-top: 20px;
            display: none;
            &.infoOpen {
              display: block;
            }
            .phone {
              p {
                display: inline-block;
                margin-left: 20px;
              }
              span {
                margin-right: 10px;
              }
              a {
                transition: color 0.25s ease-in-out;
                &:hover {
                  color: #fff;
                }
              }
            }
            .adress {
              span {
                margin-right: 20px;
              }
            }
          }
        }
        .law {
          line-height: 2.5;
          margin-top: 40px;
          .privacy {
            font-size: 14px;

            strong {
              color: #fff;
              font-weight: 700;
              margin-right: 20px;
            }
            a {
              color: #695c51;
              font-weight: 500;
            }
          }
          p {
            color: #695c51;
            font-weight: 500;
          }
        }
      }
    }
  }
}
