.containerAll {
  max-width: 1300px;
  margin: 0 auto;
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}

#mainVisual {
  width: 100%;
  position: relative;
  ul {
    li {
      height: calc(100vh - 130px);
      background-position: 50% 50%;
      background-size: cover;
      display: flex;
      &.visual01 {
        background-image: url(../images/main/mainVisual02.jpg);
      }
      &.visual02 {
        background-image: url(../images/main/main-visual01.jpg);
      }
      &.visual03 {
        background-image: url(../images/main/mainVisual03.jpeg);
      }
      .textBox {
        width: 1000px;
        text-align: center;
        margin: 0 auto 0 auto;
        color: #fff;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          text-transform: uppercase;
          font-size: 80px;
          font-weight: 900;
          pointer-events: none;
        }
        p {
          margin-top: 50px;
          font-size: 17px;
          line-height: 1.5;
          font-weight: 500;
          pointer-events: none;
        }
        a {
          margin-top: 100px;
          &:hover {
            span:before {
              width: 0;
              left: 0;
            }
            span:after {
              width: 100%;
              right: 0;
              transition-delay: 0.4s;
            }
          }
          span {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: -0.05em;
            display: inline-block;
            position: relative;

            &::before {
              content: "";
              background-color: #fff;
              width: 100%;
              height: 2px;
              position: absolute;
              bottom: -10px;
              right: 0;
              transition: width 0.15s ease-in-out;
            }
            &::after {
              content: "";
              background-color: #fff;
              width: 0;
              height: 2px;
              position: absolute;
              bottom: -10px;
              left: 0;
              transition: width 0.15s ease-in-out;
            }
          }
        }
      }
    }
  }
}
// swiper 미완성

#news {
  .containerAll {
    margin-top: 100px;
    margin-bottom: 80px;
    .titleNav {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 50px;
      .nav {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        button {
          background: none;
          border: none;
          color: #ccc;
          &:hover {
            color: #000;
          }
        }
        .material-icons {
          font-size: 40px;
          font-weight: 100;
        }
      }
    }
  }
}
#swiper {
  .search {
    ul {
      li {
        .searchBar {
          a {
            padding: 37px 10px;
            display: block;
            border: 2px solid #000;
            box-sizing: border-box;
            border-radius: 100px;
            transition: background-color 0.25s ease-in-out;
            &:hover {
              color: #fff;
              border: 2px solid #fff;
              background-color: #000;
            }
            h3 {
              display: inline-block;
              font-size: 18px;
              font-weight: 500;
              padding: 0 100px 0 50px;
            }
            span {
              font-size: 18px;
              padding-left: 30px;
              position: relative;
              &::before {
                content: "";
                display: block;
                height: 18px;
                width: 1px;
                background-color: #ccc;
                position: absolute;
                left: 0;
                top: 2px;
              }
              &::after {
                content: "\f1df";
                font-family: "Material Icons";
                font-size: 35px;
                position: absolute;
                left: 1000px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}
// swiper 미완성, 슬러쉬폰트 못찾음
