.clearFix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.txtBox {
  width: 1200px;

  img {
    float: left;
    width: 300px;
    margin: 20px;
  }
  p {
    // float: left;
    width: 500px;
    line-height: 1;
  }
  p:first-letter {
    font-size: 100px;
    font-weight: bold;
  }
  .box {
    width: 500px;
    height: 500px;
    background-color: #f00;
    float: left;
  }
}
