@import "vars";
@import "mixin";

#contact {
  .inner {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 100px;
    }
    .innerWrap {
      width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        strong {
          font-size: 18px;
          font-weight: 500;
        }
        .check {
          display: inline-flex;
          label {
            span {
              display: inline;
              font-size: 18px;
            }
          }
        }
      }
      textarea {
        &.law {
          height: 200px;
          background-color: #fbfbfb;
          font-family: inherit;
          padding: 20px;
          font-size: 15px;
          margin-bottom: 50px;
        }
      }
      .sizeChange {
        width: 100%;
        display: flex;
        margin-bottom: 80px;
        .half {
          flex-grow: 1;
          &.name {
            margin-right: 10px;
          }
        }
        .big {
          flex-grow: 1;
        }
      }
      dl {
        display: flex;
        .sizeChange {
          display: flex;
          flex-direction: column;
        }
        dt {
          font-size: 15px;
          color: #333;
          margin-bottom: 10px;
        }
        dd {
          display: flex;
          flex-grow: 1;
          .big {
            width: 100%;
          }
        }
      }
    }
  }
}
.desc {
  textarea {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    padding: 30px;
    font-family: inherit;
    font-size: 18px;
    margin-bottom: 50px;
    box-sizing: border-box;
    &::placeholder {
      color: #aaa;
    }
    &:focus {
      border-color: $main-color;
    }
  }
}
.file {
  width: 100%;
  margin-bottom: 20px;
  dl {
    display: flex;
    flex-direction: column;
    dd {
      display: flex;
      .fileText {
        flex-grow: 1;
        margin-right: 20px;
        pointer-events: none;
      }
      label {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border: 1px solid #000;
      }
    }
  }
}
.etc {
  margin-left: 20px;
  line-height: 1.5;
  margin-bottom: 100px;
  p {
    position: relative;
    color: #333;
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 2px;
      background-color: #333;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
}
.btns {
  width: 100%;
  margin-bottom: 300px;
  .btn {
    width: 100%;
    height: 80px;
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
  }
}
label {
  position: relative;
  input[type="checkbox"],
  input[type="file"] {
    position: absolute;
    padding: 0;
    border: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &.checkbox {
    span:before {
      @include icon("\e5cf", 0);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      background: none;
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
    }
    input:checked ~ span:before {
      background-color: #000;
      transition: all 0.5s ease-in-out;
    }
  }
}
input[type="text"],
select {
  outline: none;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  &::placeholder {
    color: #aaa;
  }
  &:focus {
    border-bottom-color: $main-color;
  }
}
