body { font-family: "Montserrat", "Noto Sans KR", sans-serif; font-size: 16px; }

a { text-decoration: none; color: inherit; }

#header { width: 100%; height: 130px; position: relative; }

#header .container { display: flex; max-width: 1500px; position: relative; margin: 0 auto; }

#header .container #logo { display: flex; height: 130px; align-items: center; left: 20%; }

#header .container .gnb { position: absolute; right: 0; }

#header .container .gnb h2 { display: none; }

#header .container .gnb .nav { display: flex; }

#header .container .gnb .nav .list { display: flex; }

#header .container .gnb .nav .list li { position: relative; }

#header .container .gnb .nav .list li:hover .depth02 { opacity: 1; }

#header .container .gnb .nav .list .depth01 { font-size: 18px; padding: 0 30px; display: flex; align-items: center; height: 130px; font-weight: 700; text-align: center; justify-content: center; }

#header .container .gnb .nav .list .depth01::after { content: ""; display: block; height: 5px; width: 5px; background-color: #ddd; position: absolute; top: 35%; left: 49%; display: none; }

#header .container .gnb .nav .list .depth01:hover::after { display: block; }

#header .container .gnb .nav .list .depth02 { font-size: 16px; border: 1px solid #000; box-sizing: border-box; background-color: #000; color: #999; padding: 30px 30px; font-weight: 500; line-height: 2.5; position: absolute; left: 50%; transform: translateX(-50%); white-space: nowrap; opacity: 0; transition: opacity 0.1s ease-in-out; z-index: 99; }

#header .container .gnb .nav .list .depth02 > li:hover { color: #fff; }

#header .container .gnb .nav .list .material-icons { font-size: 25px; font-weight: 700; }

#header .container .gnb .nav .navIcon { display: flex; }

#header .container .gnb .nav .navIcon li:hover .depth02 { opacity: 1; }

#header .container .gnb .nav .navIcon .depth01 { display: flex; align-items: center; height: 130px; }

#header .container .gnb .nav .navIcon .search { margin-left: 20px; }

#header .container .gnb .nav .navIcon .earth { padding: 0 30px; }

#header .container .gnb .nav .navIcon .earth::after { content: ""; display: block; height: 5px; width: 5px; background-color: #ddd; position: absolute; top: 37%; right: 5%; display: none; }

#header .container .gnb .nav .navIcon .earth:hover::after { display: block; }

#header .container .gnb .nav .navIcon .depth02 { text-align: center; font-size: 16px; border: 1px solid #000; box-sizing: border-box; background-color: #000; color: #999; padding: 30px 30px; font-weight: 500; line-height: 2.5; white-space: nowrap; opacity: 0; transition: opacity 0.1s ease-in-out; z-index: 99; }

#header .container .gnb .nav .navIcon .depth02 > li:hover { color: #fff; }

#header .container .gnb .nav .navIcon .material-icons { font-weight: 700; font-size: 25px; }
