.containerAll { max-width: 1300px; margin: 0 auto; }

.containerAll h2 { font-size: 40px; font-weight: 700; line-height: 1.2; }

#mainVisual { width: 100%; position: relative; }

#mainVisual ul li { height: calc(100vh - 130px); background-position: 50% 50%; background-size: cover; display: flex; }

#mainVisual ul li.visual01 { background-image: url(../images/main/mainVisual02.jpg); }

#mainVisual ul li.visual02 { background-image: url(../images/main/main-visual01.jpg); }

#mainVisual ul li.visual03 { background-image: url(../images/main/mainVisual03.jpeg); }

#mainVisual ul li .textBox { width: 1000px; text-align: center; margin: 0 auto 0 auto; color: #fff; user-select: none; display: flex; flex-direction: column; justify-content: center; }

#mainVisual ul li .textBox h2 { text-transform: uppercase; font-size: 80px; font-weight: 900; pointer-events: none; }

#mainVisual ul li .textBox p { margin-top: 50px; font-size: 17px; line-height: 1.5; font-weight: 500; pointer-events: none; }

#mainVisual ul li .textBox a { margin-top: 100px; }

#mainVisual ul li .textBox a:hover span:before { width: 0; left: 0; }

#mainVisual ul li .textBox a:hover span:after { width: 100%; right: 0; transition-delay: 0.4s; }

#mainVisual ul li .textBox a span { font-weight: 700; text-transform: uppercase; font-size: 18px; letter-spacing: -0.05em; display: inline-block; position: relative; }

#mainVisual ul li .textBox a span::before { content: ""; background-color: #fff; width: 100%; height: 2px; position: absolute; bottom: -10px; right: 0; transition: width 0.15s ease-in-out; }

#mainVisual ul li .textBox a span::after { content: ""; background-color: #fff; width: 0; height: 2px; position: absolute; bottom: -10px; left: 0; transition: width 0.15s ease-in-out; }

#mainVisual .btns .prev { position: absolute; top: 50%; left: 100px; z-index: 100; border: 2px solid #9a9a9d; width: 45px; height: 45px; border-radius: 50px; background: none; transition: all 0.25s ease-in-out; }

#mainVisual .btns .prev span { font-size: 12px; font-weight: 700; color: #fff; top: 50%; left: 50%; transform: translateY(-50%); display: none; position: absolute; }

#mainVisual .btns .prev::before { content: "\e5cb"; font-family: "Material icons"; font-size: 24px; color: #b9babb; position: absolute; top: 50%; transform: translateY(-50%); left: 20%; }

#mainVisual .btns .prev::after { content: "\e5cb"; font-family: "Material icons"; font-size: 24px; color: #fff; position: absolute; top: 50%; transform: translateY(-50%); left: 20%; display: none; }

#mainVisual .btns .prev:hover { width: 100px; border: 2px solid #fff; }

#mainVisual .btns .prev:hover span { display: block; }

#mainVisual .btns .prev:hover::before { display: none; }

#mainVisual .btns .prev:hover::after { display: block; }

#mainVisual .btns .next { position: absolute; top: 50%; right: 100px; z-index: 100; border: 2px solid #9a9a9d; width: 45px; height: 45px; border-radius: 50px; background: none; transition: all 0.25s ease-in-out; }

#mainVisual .btns .next span { font-size: 12px; font-weight: 700; color: #fff; top: 50%; right: 50%; transform: translateY(-50%); display: none; position: absolute; background: none; }

#mainVisual .btns .next::before { content: "\e5cc"; font-family: "Material icons"; font-size: 24px; color: #b9babb; position: absolute; top: 50%; transform: translateY(-50%); left: 20%; }

#mainVisual .btns .next::after { content: "\e5cc"; font-family: "Material icons"; font-size: 24px; color: #fff; position: absolute; top: 50%; transform: translateY(-50%); right: 10%; display: none; }

#mainVisual .btns .next:hover { width: 100px; border: 2px solid #fff; }

#mainVisual .btns .next:hover span { display: block; }

#mainVisual .btns .next:hover::before { display: none; }

#mainVisual .btns .next:hover::after { display: block; }

#mainVisual .pagination { position: absolute; bottom: 10%; text-align: center; z-index: 100; }

#mainVisual .pagination .swiper-pagination-bullet { width: 40px; height: 8px; border-radius: 50px; background-color: #fff; }

#update .containerAll { margin-top: 100px; margin-bottom: 130px; }

#update .containerAll .titleNav { display: flex; justify-content: space-between; position: relative; margin-bottom: 50px; }

#new { position: relative; }

#new .search { transition: background-color 0.5s ease-in-out; }

#new .search:hover:before { background-color: #000; }

#new .search::before { content: ""; border: 3px solid #000; display: block; width: 1300px; height: 110px; top: 0; left: 0; box-sizing: border-box; border-radius: 120px; z-index: 0; pointer-events: none; }

#new .search::after { content: "\f1df"; font-family: "Material Icons"; font-size: 35px; position: absolute; right: 50px; top: 50%; transform: translateY(-50%); }

#new .search ul { position: absolute; top: 40%; display: flex; }

#new .search ul:hover { color: #fff; }

#new .search ul li a { position: absolute; top: -46px; width: 1300px; height: 110px; display: block; box-sizing: border-box; border-radius: 120px; display: flex; align-items: center; }

#new .search ul li a::after { content: "\f1df"; font-family: "Material Icons"; font-size: 35px; position: absolute; right: 50px; top: 39px; color: #fff; opacity: 0; transition: all 0.3s cubic-bezier(0, 0, 0.2, 1); }

#new .search ul li a:hover:after { opacity: 1; animation-name: arrowAnimation; animation-duration: 0.3s; animation-iteration-count: 1; }

#new .search ul li a .textBox { display: flex; justify-content: space-between; }

#new .search ul li a .textBox .title { width: 300px; text-align: right; text-align: left; }

#new .search ul li a .textBox .title h3 { font-size: 22px; font-weight: 700; margin-left: 70px; }

#new .search ul li a .textBox .desc { width: 1000px; }

#new .search ul li a .textBox .desc span { font-size: 22px; padding-left: 30px; position: relative; }

#new .search ul li a .textBox .desc span::before { content: ""; display: block; height: 18px; width: 1px; background-color: #ccc; position: absolute; left: 0; top: 2px; }

#new .pagination { color: #9a9a9d; position: absolute; width: auto; top: -90px; left: 1170px; font-size: 24px; font-weight: 500; }

#new .pagination span { padding: 0 10px; }

button { position: absolute; right: 0; top: -100px; background: none; border: none; }

button.prev { right: 120px; }

button .material-icons { font-size: 40px; font-weight: 100; color: #ccc; }

#business { background-color: #f9f9f9; }

#business .containerAll { padding-top: 130px; padding-bottom: 80px; }

#business .containerAll .inner .titleBox { display: flex; position: relative; }

#business .containerAll .inner .titleBox .tradeTitle { margin-right: 40px; }

#business .containerAll .inner .titleBox .tradeTitle:before { content: ""; display: block; width: 9px; height: 9px; border-radius: 18px; background-color: #d6000e; position: absolute; top: -40px; left: 99px; }

#business .containerAll .inner .titleBox .tradeTitle h2 { font-size: 55px; color: #d6000e; margin-bottom: 50px; }

#business .containerAll .inner .titleBox .medicineTitle:active { color: #2d5ffd; }

#business .containerAll .inner .titleBox .medicineTitle:active:before { color: #2d5ffd; }

#business .containerAll .inner .titleBox .medicineTitle::before { content: ""; display: block; width: 9px; height: 9px; border-radius: 18px; background-color: #ccc; position: absolute; top: -40px; left: 340px; }

#business .containerAll .inner .titleBox .medicineTitle h2 { font-size: 55px; color: #ccc; margin-bottom: 50px; }

#business .containerAll .inner .pannel { display: flex; }

#business .containerAll .inner .pannel #trading.on { display: block; }

#business .containerAll .inner .pannel #trading.off { display: none; }

#business .containerAll .inner .pannel #trading .textBox p { font-size: 18px; line-height: 1.5; margin-bottom: 30px; }

#business .containerAll .inner .pannel #trading .textBox a { padding: 23px 25px; border: 3px solid #dddddd; box-sizing: border-box; font-weight: 700; margin-bottom: 80px; display: inline-block; transition: all 0.5s ease-in-out; }

#business .containerAll .inner .pannel #trading .textBox a:hover { border-color: #d6000e; border-radius: 150px; }

#business .containerAll .inner .pannel #trading .link .list { display: flex; flex-wrap: wrap; justify-content: space-between; }

#business .containerAll .inner .pannel #trading .link .list li { position: relative; }

#business .containerAll .inner .pannel #trading .link .list li .zoom:hover img { transform: scale(1.1); }

#business .containerAll .inner .pannel #trading .link .list li .zoom .imgBox { overflow: hidden; }

#business .containerAll .inner .pannel #trading .link .list li p { font-size: 20px; text-align: center; padding-top: 25px; margin-bottom: 50px; font-weight: 500; }

#business .containerAll .inner .pannel #trading .link .list li img { width: 306px; height: 306px; transition: transform 0.7s ease-in-out; }

#business .containerAll .inner .pannel #trading .link .list li .box { display: block; width: 306px; height: 306px; display: flex; justify-content: center; align-items: center; }

#business .containerAll .inner .pannel #trading .link .list li .box span { color: #d6000e; font-weight: 700; font-size: 40px; display: inline-block; }

#business .containerAll .inner .pannel #trading .link .list li .letter { position: absolute; color: #fff; font-weight: 700; top: 45%; left: 10%; text-align: left; line-height: 1.5; font-size: 22px; }

#business .containerAll .inner .pannel #medicine { display: none; }

#business .containerAll .inner .pannel #medicine.on { display: block; }

#business .containerAll .inner .pannel #medicine.off { display: none; }

#business .containerAll .inner .pannel #medicine .textBox p { font-size: 18px; line-height: 1.5; margin-bottom: 30px; }

#business .containerAll .inner .pannel #medicine .textBox a { padding: 23px 25px; border: 3px solid #dddddd; box-sizing: border-box; font-weight: 700; margin-bottom: 80px; display: inline-block; transition: all 0.5s ease-in-out; }

#business .containerAll .inner .pannel #medicine .textBox a:hover { border-color: #2d5ffd; border-radius: 150px; }

#business .containerAll .inner .pannel #medicine .link .list { display: flex; flex-wrap: wrap; justify-content: space-between; }

#business .containerAll .inner .pannel #medicine .link .list li { position: relative; }

#business .containerAll .inner .pannel #medicine .link .list li .zoom:hover img { transform: scale(1.03); }

#business .containerAll .inner .pannel #medicine .link .list li .zoom .imgBox { overflow: hidden; border-radius: 150px; }

#business .containerAll .inner .pannel #medicine .link .list li img { width: 306px; height: 306px; transition: transform 0.7s ease-in-out; border-radius: 150px; overflow: hidden; }

#business .containerAll .inner .pannel #medicine .link .list li p { font-size: 20px; text-align: center; padding-top: 25px; margin-bottom: 50px; font-weight: 500; }

#business .containerAll .inner .pannel #medicine .link .list li .box { display: block; width: 306px; height: 306px; display: flex; justify-content: center; align-items: center; }

#business .containerAll .inner .pannel #medicine .link .list li .box span { color: #2d5ffd; font-weight: 700; font-size: 40px; display: inline-block; }

#business .containerAll .inner .pannel #medicine .link .list li .letter { position: absolute; color: #fff; font-weight: 700; top: 25%; left: 15%; text-align: center; line-height: 1.5; font-size: 22px; }

#recommend .containerAll { margin-top: 100px; }

#recommend .containerAll .title { margin-bottom: 70px; }

#recommend .containerAll .inner { position: relative; }

#recommend .containerAll .inner .bar { display: flex; }

#recommend .containerAll .inner .bar .list .selectBar { border: 2px solid #dedede; width: 140px; height: 70px; border-radius: 100px; display: block; display: flex; margin-right: 20px; justify-content: space-between; align-items: center; padding: 0 40px; transition: all 0.25s ease-in-out; }

#recommend .containerAll .inner .bar .list .selectBar:hover { border-color: #000; }

#recommend .containerAll .inner .bar .list .selectBar::after { content: "\e5cf"; font-family: "Material Icons"; font-weight: 500; font-size: 30px; }

#recommend .containerAll .inner .bar .list .selectBar.open { border-color: #000; border-bottom: none; }

#recommend .containerAll .inner .bar .list .selectBar span { font-weight: 700; font-size: 17px; }

#recommend .containerAll .inner .bar .list .selectList { display: none; position: absolute; z-index: 99; border: 2px solid #000; width: 220px; height: 210px; border-radius: 0 0 50px 50px; border-top: none; }

#recommend .containerAll .inner .bar .list .selectList.open { display: block; }

#recommend .containerAll .inner .bar .list .selectList ul li { padding: 25px 30px 0 30px; }

#recommend .containerAll .inner .bar .list .selectList ul li .etc { display: block; color: #9a9a9d; font-weight: 400; font-size: 17px; }

#recommend .containerAll .inner .bar .list .selectList ul li .etc:hover { color: #000; }

#recommend .containerAll .inner .bar .list .selectList ul li .all { color: #000; font-weight: 400; font-size: 17px; display: block; }

#recommend .containerAll .inner .bar .textBox { background-color: #f4f4f4; height: 70px; width: 900px; margin-right: 10px; box-sizing: border-box; border-radius: 100px 0 0 100px; padding-left: 30px; display: flex; justify-content: flex-start; }

#recommend .containerAll .inner .bar .textBox input { background: none; border: none; font-size: 17px; width: 100%; outline: none; font-weight: 500; }

#recommend .containerAll .inner .bar .search button { width: 180px; height: 70px; background-color: #000; box-sizing: border-box; top: 0; border-radius: 0 100px 100px 0; }

#recommend .containerAll .inner .bar .search button span { font-size: 17px; font-weight: 700; color: #fff; }

#recommend .containerAll .inner .tagList { margin-top: 30px; position: absolute; z-index: 99; right: 0; display: flex; flex-direction: column; }

#recommend .containerAll .inner .tagList span { font-size: 16px; font-weight: 700; }

#recommend .containerAll .inner .tagList ul { display: flex; }

#recommend .containerAll .inner .tagList ul li { margin-right: 20px; color: #9a9a9d; }

#recommend .containerAll .inner .tagList ul li:hover { color: #000; }

#newsSns { margin-top: 215px; background-color: #f9f9f9; }

#newsSns .containerAll .inner { padding: 100px 0 80px 0; display: flex; justify-content: space-between; }

#newsSns .containerAll .inner #news { width: 650px; }

#newsSns .containerAll .inner #news .title { display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 30px; }

#newsSns .containerAll .inner #news .title a { font-size: 14px; color: #9a9a9d; font-weight: 700; display: flex; align-items: center; }

#newsSns .containerAll .inner #news .title a:after { content: "\e5cc"; font-family: "Material Icons"; padding-left: 5px; font-size: 16px; top: 1px; }

#newsSns .containerAll .inner #news .title a:hover { color: #000; }

#newsSns .containerAll .inner #news .mainNews { display: flex; justify-content: space-between; }

#newsSns .containerAll .inner #news .mainNews .imgBox { width: 307px; height: 307px; overflow: hidden; }

#newsSns .containerAll .inner #news .mainNews img { width: 307px; height: 307px; transition: transform 0.5s ease-in-out; }

#newsSns .containerAll .inner #news .mainNews img:hover { transform: scale(1.05); }

#newsSns .containerAll .inner #news .mainNews .newsTitle { font-size: 20px; font-weight: 500; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-top: 25px; margin-bottom: 15px; }

#newsSns .containerAll .inner #news .mainNews .desc { line-height: 1.5; height: 3em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; text-overflow: ellipsis; color: #786f6e; margin-bottom: 25px; }

#newsSns .containerAll .inner #news .mainNews .date { font-size: 14px; color: #b9babb; }

#newsSns .containerAll .inner #news .mainNews .news01 { width: 307px; height: 491px; }

#newsSns .containerAll .inner #news .mainNews .news02 { width: 307px; height: 491px; }

#newsSns .containerAll .inner #sns { width: 315px; }

#newsSns .containerAll .inner #sns .title { margin-bottom: 20px; }

#newsSns .containerAll .inner #sns .snsMain img { width: 310px; height: 310px; border-radius: 150px; margin-bottom: 30px; }

#newsSns .containerAll .inner #sns .snsMain .snsDesc { width: 310px; margin: 0 auto 50px auto; text-align: center; }

#newsSns .containerAll .inner #sns .snsMain .snsDesc span { font-size: 20px; font-weight: 700; }

#newsSns .containerAll .inner #sns .snsMain .snsList { width: 230px; display: flex; margin: 0 auto; justify-content: space-between; }

#newsSns .containerAll .inner #sns .snsMain .snsList .material-icons { font-size: 30px; border: 1px solid #b9babb; color: #9a9a9d; padding: 13px; border-radius: 30px; }

#newsSns .containerAll .inner #sns .snsMain .snsList .material-icons:hover { border-color: #000; background-color: #000; color: #fff; }

@keyframes arrowAnimation { 0% { transform: translateX(30px); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(-20px); } }
