@charset "UTF-8";
#mainVisual { overflow: hidden; }

#mainVisual video { width: 100%; height: 100vh; object-fit: cover; vertical-align: top; }

#info { display: flex; }

#info .contentsBox { height: 100vh; flex-basis: 50%; padding: 150px 5vw 0; }

#info .contentsBox .title { font-size: 42px; font-weight: 700; line-height: 1.25; margin-bottom: 30px; }

#info .contentsBox p { line-height: 1.5; font-size: 18px; margin-bottom: 80px; }

#info .system { color: #fff; background-color: #e77612; background-repeat: no-repeat; background-position: right 0 bottom 0; background-size: 80%; background-image: url("../images/main/business_figure_01.png"); }

#info .b2c { color: #111; background-repeat: no-repeat; background-position: right 0 bottom 0; background-size: 80%; background-image: url("../images/main/business_figure_02.png"); }

#business { height: 100vh; display: flex; align-items: center; justify-content: center; color: #fff; background-size: cover; background-repeat: no-repeat; background-image: url("../images/main/bg_business.jpg"); background-attachment: fixed; }

#business .textBox { text-align: center; }

#business .textBox p { font-size: 42px; line-height: 1.5; margin-top: 30px; }

#business .textBox p span { display: inline-block; }

.videoContents { position: relative; overflow: hidden; }

.videoContents video { width: 100%; height: 100vh; object-fit: cover; vertical-align: top; }

.videoContents .textBox { position: absolute; top: 50%; transform: translateY(-50%); }

.videoContents .textBox h2 { color: #fff; font-size: 40px; font-weight: 700; margin-bottom: 30px; }

.videoContents .textBox .sub { color: #fff; font-size: 24px; font-weight: 700; margin-bottom: 30px; }

.videoContents .textBox .desc { color: #bbb; line-height: 1.5; font-size: 18px; margin-bottom: 60px; }

.itsInfo { right: 50%; }

.hipassInfo { left: 50%; }

.btns { color: #ddd; }

#product { display: flex; overflow: hidden; }

#product .bg { min-height: 100vh; width: 50%; background-size: cover; background-image: url("../images/main/bg_product.jpg"); }

#product .contentsBox { overflow: hidden; width: 50%; min-height: 100vh; padding: 150px 0 0 5vw; box-sizing: border-box; }

#product .contentsBox .titleBox { margin-bottom: 100px; }

#product .contentsBox .titleBox .title { font-size: 42px; font-weight: 700; line-height: 1.25; margin-top: 50px; }

#product .contentsBox .rolling { overflow: hidden; }

#product .contentsBox .rolling li { width: 200px; text-align: center; }

#product .contentsBox .rolling li a img { width: 200px; }

#product .contentsBox .rolling li a p { margin-top: 20px; }

#product .contentsBox .navigation { margin-top: 50px; display: flex; align-items: center; }

#product .contentsBox .navigation a { margin-left: 30px; }

#product .contentsBox .navigation button { width: 70px; height: 70px; border: 1px solid #ccc; border-radius: 100%; background: none; font-size: 36px; display: inline-flex; align-items: center; justify-content: center; margin-right: 10px; }

#product .contentsBox .navigation button.prev::before { font-family: "Material Icons"; content: ""; display: inline-block; margin-left: 0; vertical-align: top; }

#product .contentsBox .navigation button.next::before { font-family: "Material Icons"; content: ""; display: inline-block; margin-left: 0; vertical-align: top; }

#make { height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }

#make .textBox .title { font-size: 42px; margin-bottom: 30px; font-weight: 700; }

#make .textBox p { line-height: 1.5; color: #777; margin-bottom: 30px; }

#make img { width: 70vw; }

#news { min-height: 100vh; display: flex; flex-direction: column; justify-content: center; padding: 0 200px; }

#news .title { font-size: 42px; line-height: 1.2; margin-bottom: 50px; }

#news .menu { display: flex; justify-content: flex-end; margin-bottom: 80px; font-weight: 700; }

#news .menu li { margin-left: 50px; }

#news .contents { display: flex; justify-content: space-between; }

#news .contents li { flex-basis: calc(25% - 20px); }

#news .contents li .dateBox { margin-bottom: 30px; }

#news .contents li .dateBox span { font-weight: 700; text-transform: uppercase; }

#news .contents li .date { font-weight: 400; color: #ccc; position: relative; padding-left: 10px; margin-left: 10px; }

#news .contents li .date::before { display: block; position: absolute; content: ""; display: block; width: 1px; height: 10px; background-color: #333; left: 0; top: 50%; transform: translateY(-50%); }

#news .contents .txt { font-size: 28px; font-weight: 500; display: -webkit-box; height: 2em; overflow: hidden; line-height: 1; -webkit-line-clamp: 2; /* autoprefixer: off */ -webkit-box-orient: vertical; word-break: break-all; margin-bottom: 50px; }
