body { font-family: "Roboto", "Noto Sans KR", sans-serif; font-size: 16px; color: #111; }

a { color: inherit; text-decoration: none; }

.container { width: 1280px; margin: 0 auto; }

#header { display: flex; justify-content: center; position: fixed; width: 100%; height: 80px; border-bottom: 1px solid #eee; }

#header #logo { position: absolute; top: 50%; transform: translateY(-50%); left: 30px; }

#header #gnb .list { display: flex; }

#header #gnb .list li { text-align: center; }

#header #gnb .list li .depth01 { display: block; line-height: 80px; height: 80px; padding: 0 40px; position: relative; }

#header #gnb .list li .depth01:hover { color: #e77612; }

#header #gnb .list li .depth01:not(.store)::after { content: ""; height: 2px; position: absolute; bottom: 0; z-index: 2; display: block; background-color: #e77612; left: 30px; right: 30px; transform: scaleX(0); }

#header #gnb .list li .depth01:hover:after { transition: transform 0.25s ease-in-out; transform: scaleX(1); }

#header #gnb .list li .depth02 { padding: 20px; border-radius: 0 0 10px 10px; }

#header #gnb .list li .depth02 > li { padding: 10px 0; }

#header #gnb .list li .depth02 > li:hover { color: #e77612; background-color: #ffddc1; border-radius: 5px; }

#header #gnb .list .store { color: #e77612; position: relative; }

#header #gnb .list .store:after { content: url("../images/main/ico_link.svg"); position: absolute; top: 0; right: 30px; }

#header .login { position: absolute; top: 50%; transform: translateY(-50%); right: 30px; }
