@charset "UTF-8";
#contact .inner { padding-top: 200px; display: flex; flex-direction: column; align-items: center; }

#contact .inner h2 { margin-bottom: 100px; }

#contact .inner .innerWrap { width: 800px; display: flex; flex-direction: column; justify-content: center; }

#contact .inner .innerWrap .information { display: flex; justify-content: space-between; margin-bottom: 20px; }

#contact .inner .innerWrap .information strong { font-size: 18px; font-weight: 500; }

#contact .inner .innerWrap .information .check { display: inline-flex; }

#contact .inner .innerWrap .information .check label span { display: inline; font-size: 18px; }

#contact .inner .innerWrap textarea.law { height: 200px; background-color: #fbfbfb; font-family: inherit; padding: 20px; font-size: 15px; margin-bottom: 50px; }

#contact .inner .innerWrap .sizeChange { width: 100%; display: flex; margin-bottom: 80px; }

#contact .inner .innerWrap .sizeChange .half { flex-grow: 1; }

#contact .inner .innerWrap .sizeChange .half.name { margin-right: 10px; }

#contact .inner .innerWrap .sizeChange .big { flex-grow: 1; }

#contact .inner .innerWrap dl { display: flex; }

#contact .inner .innerWrap dl .sizeChange { display: flex; flex-direction: column; }

#contact .inner .innerWrap dl dt { font-size: 15px; color: #333; margin-bottom: 10px; }

#contact .inner .innerWrap dl dd { display: flex; flex-grow: 1; }

#contact .inner .innerWrap dl dd .big { width: 100%; }

.desc textarea { width: 100%; height: 300px; resize: none; outline: none; border: 1px solid #ccc; padding: 30px; font-family: inherit; font-size: 18px; margin-bottom: 50px; box-sizing: border-box; }

.desc textarea::placeholder { color: #aaa; }

.desc textarea:focus { border-color: #e77612; }

.file { width: 100%; margin-bottom: 20px; }

.file dl { display: flex; flex-direction: column; }

.file dl dd { display: flex; }

.file dl dd .fileText { flex-grow: 1; margin-right: 20px; pointer-events: none; }

.file dl dd label { width: 150px; height: 50px; border-radius: 5px; display: flex; justify-content: center; align-items: center; color: #000; border: 1px solid #000; }

.etc { margin-left: 20px; line-height: 1.5; margin-bottom: 100px; }

.etc p { position: relative; color: #333; }

.etc p::before { content: ""; display: block; width: 2px; height: 2px; background-color: #333; border-radius: 100%; position: absolute; top: 50%; transform: translateY(-50%); left: -10px; }

.btns { width: 100%; margin-bottom: 300px; }

.btns .btn { width: 100%; height: 80px; background-color: #000; border: none; color: #fff; font-weight: 700; font-size: 18px; border-radius: 3px; cursor: pointer; }

label { position: relative; }

label input[type="checkbox"], label input[type="file"] { position: absolute; padding: 0; border: 0; width: 0; height: 0; overflow: hidden; }

label.checkbox span:before { font-family: "Material Icons"; content: ""; display: inline-block; margin-left: 0; display: flex; justify-content: center; align-items: center; font-size: 22px; width: 20px; height: 20px; overflow: hidden; background: none; color: #fff; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box; position: absolute; top: 50%; transform: translateY(-50%); left: -30px; }

label.checkbox input:checked ~ span:before { background-color: #000; transition: all 0.5s ease-in-out; }

input[type="text"], select { outline: none; font-size: 18px; border: none; border-bottom: 1px solid #ccc; padding-bottom: 20px; }

input[type="text"]::placeholder, select::placeholder { color: #aaa; }

input[type="text"]:focus, select:focus { border-bottom-color: #e77612; }
