@import "vars";
@import "mixin";

.section {
  padding: 100px 0;
  .titleBox {
    margin-bottom: 50px;
    text-align: center;
    h2 {
      margin-bottom: 20px;
      font-size: $font-large;
    }
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
.btns {
  display: flex;
  justify-content: center;
  .btn {
    display: flex;
    align-items: center;
    height: 60px;
    overflow: hidden;
    padding: 0 40px;
    border-radius: 100px;
    background-color: $main-color;
    @include longShadow(darken($main-color, 10), 30);
  }
}
#mainVisual {
  overflow: hidden;
  ul {
    li {
      height: 100vh;
      background: {
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }
      &.visual01 {
        background-image: url(../images/main/mainVisual01.jpg);
      }
      &.visual02 {
        background-image: url(../images/main/mainVisual02.jpg);
      }
      &.visual03 {
        background-image: url(../images/main/mainVisual03.jpg);
      }
    }
  }
  .slogan {
    z-index: 2;
    text-align: center;
    color: #fff;
    @include absCenter;
    h2 {
      margin-bottom: 40px;
      font-size: $font-large;
      font-weight: 700;
      user-select: none;
    }
    p {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  button {
    width: 80px;
    height: 80px;
    z-index: 3;
    border: #fff;
    background: none;
    @include absCenter(false, true);
    .material-icons {
      font-size: $font-large;
      color: #fff;
      vertical-align: top;
    }
    &.prev {
      left: 50px;
    }
    &.next {
      right: 50px;
    }
  }
  .iconScroll {
    width: 100%;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    text-align: center;
    color: #fff;
    .icon {
      display: block;
      width: 24px;
      height: 50px;
      margin: 10px auto;
      border: 2px solid #fff;
      border-radius: 100px;
      &:before {
        width: 2px;
        height: 10px;
        margin: 10px auto;
        background-color: #fff;
        animation-name: mouseAnimation;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        @include pseudo(block, relative, "");
      }
    }
  }
}

#quickMenu {
  .list {
    display: flex;
    li {
      position: relative;
      overflow: hidden;
      &:before {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        z-index: 1;
        border: 1px solid rgba(255, 255, 255, 0.3);
        opacity: 0;
        pointer-events: none;
        @include pseudo;
      }
      &:hover img {
        transform: scale(1.2);
      }
      &:hover:before {
        opacity: 1;
      }
      img {
        transition: transform 0.25s ease-in-out;
        vertical-align: top;
      }
      .textBox {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: #fff;
        h3 {
          margin-top: 20px;
          font-size: 30px;
          font-weight: 700;
        }
        p {
          font-size: $font-nomal + 5px;
        }
      }
    }
  }
}

#business {
  background: {
    image: url("../images/main/bgBusiness.jpg");
    size: cover;
  }
  .container {
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    li {
      position: relative;
      overflow: hidden;
      margin: 10px;
      &:hover {
        img {
          transform: scale(1.2);
          //filter: saturate(1);
        }
        //prettier-ignore
        .border {
          span:nth-child(1) {transform: scaleX(1);}
          span:nth-child(2) {transform: scaleY(1);}
          span:nth-child(3) {transform: scaleX(1);}
          span:nth-child(4) {transform: scaleY(1);}
        }
      }
      .txtBox {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: #fff;
        h3 {
          margin-bottom: 20px;
          font-size: $font-medium;
        }
      }
      img {
        transition: all 0.25s ease-in-out;
        //filter: saturate(0);
        vertical-align: top;
      }
      .border {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        span {
          position: absolute;
          transition: transform 0.25s ease;
          background-color: #fff;
          &:nth-child(1) {
            width: 100%;
            height: 1px;
            top: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: 0 50%;
          }
          &:nth-child(2) {
            width: 1px;
            height: 100%;
            top: 0;
            right: 0;
            transform: scaleY(0);
            transform-origin: 50% 0;
            transition-delay: 0.25s;
          }
          &:nth-child(3) {
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: 100% 50%;
            transition-delay: 0.5s;
          }
          &:nth-child(4) {
            width: 1px;
            height: 100%;
            top: 0;
            left: 0;
            transform: scaleY(0);
            transform-origin: 50% 100%;
            transition-delay: 0.75s;
          }
        }
      }
    }
  }
}
#news {
  .list {
    display: flex;
    margin: 0 -10px;
    li {
      width: calc(33.33% - 10px);
      margin: 0 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }
      .desc {
        padding: 20px;
        h3 {
          margin-bottom: 30px;
          font-size: $font-medium;
          @include ellipsis;
        }
        .text {
          margin-bottom: 30px;
          @include multiEllipsis(3, 1.5);
        }
      }
    }
  }
}
#customer {
  color: #fff;
  .titleBox {
    h2::after {
      width: 30px;
      height: 2px;
      margin: 30px auto;
      background-color: #fff;
      @include pseudo(block, relative, "");
    }
  }
  background: {
    position: 50% 50%;
    image: url(../images/main/bgCustomer.jpg);
    size: cover;
  }
}
@keyframes mouseAnimation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
